In [12]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [13]:
import PrjtCF_module as cf

# Outline
* 호텔, 골프장 등 개발 후 운영 사업(분양을 하지 않는 사업)의 개발단계 재무모델
* PF대출을 통해 토지비 및 공사비 등 개발사업 자금을 조달
* 금융비용은 PF대출금으로 충당
* 준공 후 담보대출금으로 상환 가정
* PF대출금은 필요에 따라 한도대로 인출
* PF대출금의 조달을 Tranche A, Tranche B 두개의 Tranche로 구분하여 조달하며, Tranche A는 Tranche B에 대하여 선순위 상환 받음.
* 기존 작성한 Cash Flow 모델에서 추가적으로 index 설정을 loan에 대해서도 동일한 기준을 적용.
  - loan index는 별도 금융조건 계산에만 적용

# Input Index Data

In [14]:
# 기간 index 설정
# prjt index : 사업기간 전 기간에 대한 index로 모델의 base가 되는 index
# cstrn index : 공사기간에 대한 index로 착공일로부터 준공일 까지의 기간에 대한 index
# loan index : 대출기간에 대한 index로 대출 실행일로부터 대출 상환일 까지의 기간에 대한 index
idx = cf.PrjtIndex(idxname=['prjt', 'cstrn', 'loan'],
                   start=['2021-08', '2021-10', '2021-10'],
                   periods=[24+1, 18+1, 20+1],
                   freq='M')

# 공정률 index 설정 : cstrn index 기간 중 적용되는 공정률을 설정
idx.prcs = Series(np.ones(len(idx.cstrn)) / len(idx.cstrn),
                  index=idx.cstrn.index)

# Input Financing Data

In [15]:
equity = cf.Loan(idx, idx, amt_ntnl=10_000)

tra = cf.Loan(idx, idx.loan, amt_ntnl=40_000,
              rate_fee=0.01, rate_IR=0.05)
trb = cf.Loan(idx, idx.loan, amt_ntnl=20_000,
              rate_fee=0.03, rate_IR=0.07)

# Input Cost Data

In [16]:
dct_cost = {}

# 토지비: 최초 1회 지급
lnd = cf.Account(idx)
lnd.addscdd(idx.cstrn[0], 10_000)
dct_cost['lnd'] = lnd

# 공사비: 공정률에 따라 지급
cstrn = cf.Account(idx)
cstrn.addscdd(idx.cstrn.index, 50_000 * idx.prcs)
dct_cost['cstrn'] = cstrn

cost = cf.Merge(dct_cost)

# Execution Cash Flow

### 1) 사전 계산

In [17]:
# Make accounts
oprtg = cf.Account(idx) # 운영현금흐름의 입출을 위한 운영계좌
rpyacc = cf.Account(idx) # 상환자금 관리를 위한 대출금 상환계좌

In [18]:
# Calculate expected financial cost
class exptdcst:
    def __init__(self, idxno):
        self.idxno = idxno
        
        # 해당 인덱스 기간 중 cost계좌 상 지출 필요한 금액
        self.cstamt = cost.add_scdd[idxno]
        
        # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 수수료 금액
        self.trafee = tra.fee.add_scdd[idxno]
        self.trbfee = trb.fee.add_scdd[idxno]
        
        # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 이자 금액
        self.traIR = -tra.ntnl.bal_strt[idxno] * tra.IR.rate
        self.trbIR = -trb.ntnl.bal_strt[idxno] * trb.IR.rate
        
    @property
    def ttlcst(self):
        self.ttlsum = self.cstamt
        self.ttlsum = (self.ttlsum +
                       self.trafee + self.trbfee +
                       self.traIR + self.trbIR)
        return self.ttlsum

In [19]:
# Calculate expected repayment of loan
class exptdrpy:
    def __init__(self, idxno):
        self.idxno = idxno
        
        # 해당 인덱스 기간 중 상환 요구 금액
        self.trarpy = min(tra.ntnl.add_rsdl_cum[idxno], -tra.ntnl.bal_end[idxno])
        self.trbrpy = min(trb.ntnl.add_rsdl_cum[idxno], -trb.ntnl.bal_end[idxno])
    
    @property
    def ttlrpy(self):
        self.ttlsum = self.trarpy + self.trbrpy
        return self.ttlsum

### 2) 실행함수 설정

In [20]:
# Inflow of cash
def inflow_cash(idxno, exptdcst):
    # deposit equity amount
    equity.ntnl.send(idxno, equity.ntnl.sub_scdd[idxno], oprtg)
    
    #### deposit loan notional amount ####
    # Expected inflow amount: 예상 지출금액을 인자로 받아 운영계좌 잔액과 비교하여 필요한 조달금액을 추정
    exptdinflw = max(exptdcst.ttlcst - oprtg.bal_end[idxno], 0)
    
    # Tr.B: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
    tmpinflw = min(trb.ntnl.sub_rsdl_cum[idxno], exptdinflw)
    trb.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
    amtinflw = tmpinflw
    exptdinflw -= tmpinflw
        
    # Tr.A: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
    tmpinflw = min(tra.ntnl.sub_rsdl_cum[idxno], exptdinflw)
    tra.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
    amtinflw += tmpinflw
    exptdinflw -= tmpinflw

In [21]:
# Outflow of cash
def outflow_cash(idxno):
    # 운영계좌에서 토지비 지출
    oprtg.send(idxno, cost['lnd'].add_scdd[idxno], cost['lnd'])
    
    # 운영계좌에서 공사비 지출
    oprtg.send(idxno, cost['cstrn'].add_scdd[idxno], cost['cstrn'])

In [22]:
# Pay financial cost
def pay_fnclcst(idxno, exptdcst):
    # 운영계좌에서 대출금 수수료 지출
    oprtg.send(idxno, exptdcst.trafee, tra.fee)
    oprtg.send(idxno, exptdcst.trbfee, trb.fee)
        
    # 운영계좌에서 이자금액 지출
    oprtg.send(idxno, exptdcst.traIR, tra.IR)
    oprtg.send(idxno, exptdcst.trbIR, trb.IR)

In [23]:
# Transfer amount to repayment account
def trsf_rpy(idxno, exptdrpy):
    # 상환계좌로 이체할 금액 계산
    rpy_amt = exptdrpy.ttlrpy
    
    # 상환계좌로 이체
    oprtg.send(idxno, rpy_amt, rpyacc)

In [24]:
# Repay notional amount
def repay_ntnl(idxno, exptdrpy):
    # 상환계좌에서 순서에 따라 상환금 인출
    rpyacc.send(idxno, exptdrpy.trarpy, tra.ntnl)
    rpyacc.send(idxno, exptdrpy.trbrpy, trb.ntnl)

### 3) Cash Flow 실행

In [25]:
# Execute cash flow
for idxno in idx.index:
    # 해당 인덱스 기간 중 지출 필요한 cost 및 금융비용 계산(instance class 생성)
    cst_exptd = exptdcst(idxno)
    
    # 필요지출금액을 인자로 받아, 조달금액 계산 후 운영계좌 입금
    inflow_cash(idxno, cst_exptd)
    
    # 운영계좌에서 토지비, 공사비 등 각종 비용 지출
    outflow_cash(idxno)
    
    # 운영계좌에서 각종 금융비용 지출
    pay_fnclcst(idxno, cst_exptd)
    
    # 해당 인덱스 기간 중 상환 필요한 자금 규모 계산(instance class 생성)
    rpy_exptd = exptdrpy(idxno)
    
    # 상환 예정 금액을 상환계좌로 이체
    trsf_rpy(idxno, rpy_exptd)
    
    # 상환계좌에서 순서에 따라 상환금 인출
    repay_ntnl(idxno, rpy_exptd)

In [26]:
# Merge Accounts
dct_acc = {'equity':equity,
           'tra_ntnl':tra.ntnl,
           'tra_fee':tra.fee,
           'tra_IR':tra.IR,
           'trb_ntnl':trb.ntnl,
           'trb_fee':trb.fee,
           'trb_IR':trb.IR,
           'cost_lnd':cost['lnd'],
           'cost_cstrn':cost['cstrn'],
           'oprtg':oprtg}
acc_merge = cf.Merge(dct_acc)

In [27]:
rslt_df = DataFrame({('equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_sub'):tra.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_add'):tra.ntnl.amt_add[:],
                     ('tra.ntnl', 'bal_end'):tra.ntnl.bal_end[:],
                     ('tra.fee', 'amt_add'):tra.fee.amt_add[:],
                     ('tra.IR', 'amt_add'):tra.IR.amt_add[:],
                     ('trb.ntnl', 'amt_sub'):trb.ntnl.amt_sub[:],
                     ('trb.ntnl', 'amt_add'):trb.ntnl.amt_add[:],
                     ('trb.ntnl', 'bal_end'):trb.ntnl.bal_end[:],
                     ('trb.fee', 'amt_add'):trb.fee.amt_add[:],
                     ('trb.IR', 'amt_add'):trb.IR.amt_add[:],
                     ('cost_lnd', 'amt_add'):cost['lnd'].amt_add[:],
                     ('cost_cstrn', 'amt_add'):cost['cstrn'].amt_add[:],
                     ('oprtg', 'amt_add'):oprtg.amt_add[:],
                     ('oprtg', 'amt_sub'):oprtg.amt_sub[:],
                     ('oprtg', 'bal_end'):oprtg.bal_end[:]})
rslt_df.fillna(0)

           equity.ntnl     tra.ntnl                             tra.fee  \
               amt_sub      amt_sub       amt_add       bal_end amt_add
2021-08-31     10000.0     0.000000      0.000000  0.000000e+00     0.0
2021-09-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2021-10-31         0.0     0.000000      0.000000  0.000000e+00   400.0
2021-11-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2021-12-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-01-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-02-28         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-03-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-04-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-05-31         0.0  2529.062401      0.000000 -2.529062e+03     0.0
2022-06-30         0.0  2758.783374      0.000000 -5.287846e+03     0.0
2022-07-31         0.0  2770.278305      0.000000 -8.058124e+03     0.0
2022-08-31         0.0  2781.821131      0.000000 -1.083995e+04     0.0
2022-09-30         0.0  2793.412052      0.000000 -1.363336e+04     0.0
2022-10-31         0.0  2805.051269      0.000000 -1.643841e+04     0.0
2022-11-30         0.0  2816.738983      0.000000 -1.925515e+04     0.0
2022-12-31         0.0  2828.475395      0.000000 -2.208362e+04     0.0
2023-01-31         0.0  2840.260709      0.000000 -2.492388e+04     0.0
2023-02-28         0.0  2852.095129      0.000000 -2.777598e+04     0.0
2023-03-31         0.0  2863.978859      0.000000 -3.063996e+04     0.0
2023-04-30         0.0  2875.912104      0.000000 -3.351587e+04     0.0
2023-05-31         0.0   256.316124      0.000000 -3.377219e+04     0.0
2023-06-30         0.0   257.384108  34029.569944 -2.273737e-12     0.0
2023-07-31         0.0  5970.430056   5970.430056 -1.818989e-12     0.0
2023-08-31         0.0     0.000000      0.000000 -1.818989e-12     0.0

                  tra.IR     trb.ntnl                        trb.fee  \
                 amt_add      amt_sub  amt_add       bal_end amt_add
2021-08-31  0.000000e+00     0.000000      0.0      0.000000     0.0
2021-09-30  0.000000e+00     0.000000      0.0      0.000000     0.0
2021-10-31  0.000000e+00  3631.578947      0.0  -3631.578947   600.0
2021-11-30  0.000000e+00  2652.763158      0.0  -6284.342105     0.0
2021-12-31  0.000000e+00  2668.237610      0.0  -8952.579715     0.0
2022-01-31  0.000000e+00  2683.802329      0.0 -11636.382044     0.0
2022-02-28  0.000000e+00  2699.457843      0.0 -14335.839887     0.0
2022-03-31  0.000000e+00  2715.204680      0.0 -17051.044567     0.0
2022-04-30  0.000000e+00  2731.043374      0.0 -19782.087941     0.0
2022-05-31  0.000000e+00   217.912059      0.0 -20000.000000     0.0
2022-06-30  1.053776e+01     0.000000      0.0 -20000.000000     0.0
2022-07-31  2.203269e+01     0.000000      0.0 -20000.000000     0.0
2022-08-31  3.357552e+01     0.000000      0.0 -20000.000000     0.0
2022-09-30  4.516644e+01     0.000000      0.0 -20000.000000     0.0
2022-10-31  5.680566e+01     0.000000      0.0 -20000.000000     0.0
2022-11-30  6.849337e+01     0.000000      0.0 -20000.000000     0.0
2022-12-31  8.022978e+01     0.000000      0.0 -20000.000000     0.0
2023-01-31  9.201510e+01     0.000000      0.0 -20000.000000     0.0
2023-02-28  1.038495e+02     0.000000      0.0 -20000.000000     0.0
2023-03-31  1.157332e+02     0.000000      0.0 -20000.000000     0.0
2023-04-30  1.276665e+02     0.000000      0.0 -20000.000000     0.0
2023-05-31  1.396495e+02     0.000000      0.0 -20000.000000     0.0
2023-06-30  1.407174e+02     0.000000  20000.0      0.000000     0.0
2023-07-31  9.473903e-15     0.000000      0.0      0.000000     0.0
2023-08-31  7.579123e-15     0.000000      0.0      0.000000     0.0

                trb.IR cost_lnd   cost_cstrn         oprtg                \
               amt_add  amt_add      amt_add       amt_add       amt_sub
2021-08-31    0.000000      0.0     0.000000  10000.000000  0.000000e+00
2021-09-30    0.000000      0.0     0.000000      0.000000  0.000000e+00
2021-10-31    0.000000  10000.0  2631.578947   3631.578947  1.363158e+04
2021-11-30   21.184211      0.0  2631.578947   2652.763158  2.652763e+03
2021-12-31   36.658662      0.0  2631.578947   2668.237610  2.668238e+03
2022-01-31   52.223382      0.0  2631.578947   2683.802329  2.683802e+03
2022-02-28   67.878895      0.0  2631.578947   2699.457843  2.699458e+03
2022-03-31   83.625733      0.0  2631.578947   2715.204680  2.715205e+03
2022-04-30   99.464427      0.0  2631.578947   2731.043374  2.731043e+03
2022-05-31  115.395513      0.0  2631.578947   2746.974460  2.746974e+03
2022-06-30  116.666667      0.0  2631.578947   2758.783374  2.758783e+03
2022-07-31  116.666667      0.0  2631.578947   2770.278305  2.770278e+03
2022-08-31  116.666667      0.0  2631.578947   2781.821131  2.781821e+03
2022-09-30  116.666667      0.0  2631.578947   2793.412052  2.793412e+03
2022-10-31  116.666667      0.0  2631.578947   2805.051269  2.805051e+03
2022-11-30  116.666667      0.0  2631.578947   2816.738983  2.816739e+03
2022-12-31  116.666667      0.0  2631.578947   2828.475395  2.828475e+03
2023-01-31  116.666667      0.0  2631.578947   2840.260709  2.840261e+03
2023-02-28  116.666667      0.0  2631.578947   2852.095129  2.852095e+03
2023-03-31  116.666667      0.0  2631.578947   2863.978859  2.863979e+03
2023-04-30  116.666667      0.0  2631.578947   2875.912104  2.875912e+03
2023-05-31  116.666667      0.0     0.000000    256.316124  2.563161e+02
2023-06-30  116.666667      0.0     0.000000    257.384108  5.428695e+04
2023-07-31    0.000000      0.0     0.000000   5970.430056  5.970430e+03
2023-08-31    0.000000      0.0     0.000000      0.000000  7.579123e-15


                 bal_end
2021-08-31  10000.000000
2021-09-30  10000.000000
2021-10-31      0.000000
2021-11-30      0.000000
2021-12-31      0.000000
2022-01-31      0.000000
2022-02-28      0.000000
2022-03-31      0.000000
2022-04-30      0.000000
2022-05-31      0.000000
2022-06-30      0.000000
2022-07-31      0.000000
2022-08-31      0.000000
2022-09-30      0.000000
2022-10-31      0.000000
2022-11-30      0.000000
2022-12-31      0.000000
2023-01-31      0.000000
2023-02-28      0.000000
2023-03-31      0.000000
2023-04-30      0.000000
2023-05-31      0.000000
2023-06-30 -54029.569944
2023-07-31 -54029.569944
2023-08-31 -54029.569944