In [1]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [2]:
import PrjtCF_module as cf

# Outline
* 호텔, 골프장 등 개발 후 운영 사업(분양을 하지 않는 사업)의 개발단계 재무모델
* PF대출을 통해 토지비 및 공사비 등 개발사업 자금을 조달
* 금융비용은 PF대출금으로 충당
* 준공 후 담보대출금으로 상환 가정
* PF대출금은 필요에 따라 한도대로 인출
* PF대출금의 조달을 Tranche A, Tranche B 두개의 Tranche로 구분하여 조달하며, Tranche A는 Tranche B에 대하여 선순위 상환 받음.

# Input Index Data

In [41]:
# 기간 index 설정
# prjt index : 사업기간 전 기간에 대한 index로 모델의 base가 되는 index
# cstrn index : 공사기간에 대한 index로 착공일로부터 준공일 까지의 기간에 대한 index
# loan index : 대출 기간에 대한 index로 대출 실행일로부터 대출 상환일 까지의 기간에 대한 index
idx = cf.PrjtIndex(idxname=['prjt', 'cstrn', 'loan'],
                   start=['2021-08', '2021-10', '2021-10'],
                   periods=[24+1, 18+1, 20+1],
                   freq='M')

# 공정률 index 설정 : cstrn index 기간 중 적용되는 공정률을 설정
idx.prcs = Series(np.ones(len(idx.cstrn)) / len(idx.cstrn),
                  index=idx.cstrn.index)

# Input Financing Data

In [42]:
equity = cf.Loan(idx, amt_ntnl=10_000)

tra = cf.Loan(idx.loan, amt_ntnl=40_000,
              rate_fee=0.01, rate_IR=0.05)
trb = cf.Loan(idx.loan, amt_ntnl=20_000,
              rate_fee=0.03, rate_IR=0.07)

# Input Cost Data

In [43]:
dct_cost = {}

# 토지비: 최초 1회 지급
lnd = cf.Account(idx)
lnd.addscdd(idx.cstrn[0], 10_000)
dct_cost['lnd'] = lnd

# 공사비: 공정률에 다라 지급
cstrn = cf.Account(idx)
cstrn.addscdd(idx.cstrn.index, 50_000 * idx.prcs)
dct_cost['cstrn'] = cstrn

cost = cf.Merge(dct_cost)

# Execution Cash Flow

### 1) 사전 계산

In [44]:
# Make accounts
oprtg = cf.Account(idx) # 운영현금흐름의 입출을 위한 운영계좌
repay = cf.Account(idx) # 상환자금 관리를 위한 대출금 상환계좌

In [45]:
# Calculate expected financial cost
class exptdcst:
    def __init__(self, idxno):
        self.idxno = idxno
        
        # 해당 인덱스 기간 중 cost계좌 상 지출 필요한 금액
        self.cstamt = cost.add_scdd[idxno]
        
        if idxno in idx.loan.index:
            # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 수수료 금액
            self.trafee = tra.fee.add_scdd[idxno]
            self.trbfee = trb.fee.add_scdd[idxno]
        
            # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 이자금액
            self.traIR = -tra.ntnl.bal_strt[idxno] * tra.IR.rate
            self.trbIR = -trb.ntnl.bal_strt[idxno] * trb.IR.rate
        
    @property
    def ttlcst(self):
        ttlsum = self.cstamt
        if idxno in idx.loan.index:
            ttlsum = (ttlsum + 
                      self.trafee + self.trbfee +
                      self.traIR + self.trbIR)
        return ttlsum

### 2) 실행함수 설정

In [46]:
# Inflow of cash
def inflow_cash(idxno, exptdcst):
    # deposit equity amount
    equity.ntnl.send(idxno, equity.ntnl.sub_scdd[idxno], oprtg)
    
    # deposit loan notional amount
    if idxno in idx.loan.index:
        # Expected inflow amount: 예상 지출금액을 인자로 받아 운영계좌 잔액과 비교하여 필요한 조달금액을 추정
        exptdinflw = max(exptdcst.ttlcst - oprtg.bal_end[idxno], 0)
        
        # Tr.B: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
        tmpinflw = min(trb.ntnl.sub_rsdl_cum[idxno], exptdinflw)
        trb.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
        amtinflw = tmpinflw
        exptdinflw -= tmpinflw
        
        # Tr.A: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
        tmpinflw = min(tra.ntnl.sub_rsdl_cum[idxno], exptdinflw)
        tra.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
        amtinflw += tmpinflw
        exptdinflw -= tmpinflw

In [47]:
# Outflow of cash
def outflow_cash(idxno):
    # 운영계좌에서 토지비 지출
    oprtg.send(idxno, cost['lnd'].add_scdd[idxno], cost['lnd'])
    
    # 운영계좌에서 공사비 지출
    oprtg.send(idxno, cost['cstrn'].add_scdd[idxno], cost['cstrn'])

In [48]:
# Pay financial cost
def pay_fnclcst(idxno, exptdcst):
    if idxno in idx.loan.index:
        # 운영계좌에서 대출금 수수료 지출
        oprtg.send(idxno, exptdcst.trafee, tra.fee)
        oprtg.send(idxno, exptdcst.trbfee, trb.fee)
        
        # 운영계좌에서 이자금액 지출
        oprtg.send(idxno, exptdcst.traIR, tra.IR)
        oprtg.send(idxno, exptdcst.trbIR, trb.IR)

In [49]:
# Repay notional amount
def repay_ntnl(idxno):
    if idxno in idx.loan.index:
        # loan계좌 상 상환예정금액(add_rsdl_cum)과 인출잔액(bal_end) 고려하여 상환금액 계산 후 
        # 운영계좌에서 상환금액 인출
        exptdrpya = min(tra.ntnl.add_rsdl_cum[idxno], -tra.ntnl.bal_end[idxno])
        oprtg.send(idxno, exptdrpya, tra.ntnl)
        
        exptdrpyb = min(trb.ntnl.add_rsdl_cum[idxno], -trb.ntnl.bal_end[idxno])
        oprtg.send(idxno, exptdrpyb, trb.ntnl)

### 3) Cash Flow 실행

In [50]:
# Execute cash flow
for idxno in idx.index:
    
    # 해당 인덱스 기간 중 지출 필요한 cost 및 금융비용 계산(instance class 생성)
    cst_exptd = exptdcst(idxno)
    
    # 필요지출금액을 인자로 받아, 조달금액 계산 후 운영계좌 입금
    inflow_cash(idxno, cst_exptd)
    
    # 운영계좌에서 토지비, 공사비 등 각종 비용 지출
    outflow_cash(idxno)
    
    # 운영계좌에서 각종 금융비용 지출
    pay_fnclcst(idxno, cst_exptd)
    
    # 운영계좌에서 대출금 상환
    repay_ntnl(idxno)

In [51]:
# Merge Accounts
dct_acc = {'equity':equity,
           'tra_ntnl':tra.ntnl,
           'tra_fee':tra.fee,
           'tra_IR':tra.IR,
           'trb_ntnl':trb.ntnl,
           'trb_fee':trb.fee,
           'trb_IR':trb.IR,
           'cost_lnd':cost['lnd'],
           'cost_cstrn':cost['cstrn'],
           'oprtg':oprtg}
acc_merge = cf.Merge(dct_acc)

In [52]:
rslt_df = DataFrame({('equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_sub'):tra.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_add'):tra.ntnl.amt_add[:],
                     ('tra.ntnl', 'bal_end'):tra.ntnl.bal_end[:],
                     ('tra.fee', 'amt_add'):tra.fee.amt_add[:],
                     ('tra.IR', 'amt_add'):tra.IR.amt_add[:],
                     ('trb.ntnl', 'amt_sub'):trb.ntnl.amt_sub[:],
                     ('trb.ntnl', 'amt_add'):trb.ntnl.amt_add[:],
                     ('trb.ntnl', 'bal_end'):trb.ntnl.bal_end[:],
                     ('trb.fee', 'amt_add'):trb.fee.amt_add[:],
                     ('trb.IR', 'amt_add'):trb.IR.amt_add[:],
                     ('cost_lnd', 'amt_add'):cost['lnd'].amt_add[:],
                     ('cost_cstrn', 'amt_add'):cost['cstrn'].amt_add[:],
                     ('oprtg', 'amt_add'):oprtg.amt_add[:],
                     ('oprtg', 'amt_sub'):oprtg.amt_sub[:],
                     ('oprtg', 'bal_end'):oprtg.bal_end[:]})
rslt_df.fillna(0)

           equity.ntnl     tra.ntnl                             tra.fee  \
               amt_sub      amt_sub       amt_add       bal_end amt_add
2021-08-31     10000.0     0.000000      0.000000  0.000000e+00     0.0
2021-09-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2021-10-31         0.0     0.000000      0.000000  0.000000e+00   400.0
2021-11-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2021-12-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-01-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-02-28         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-03-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-04-30         0.0     0.000000      0.000000  0.000000e+00     0.0
2022-05-31         0.0  2529.062401      0.000000 -2.529062e+03     0.0
2022-06-30         0.0  2758.783374      0.000000 -5.287846e+03     0.0
2022-07-31         0.0  2770.278305      0.000000 -8.058124e+03     0.0
2022-08-31         0.0  2781.821131      0.000000 -1.083995e+04     0.0
2022-09-30         0.0  2793.412052      0.000000 -1.363336e+04     0.0
2022-10-31         0.0  2805.051269      0.000000 -1.643841e+04     0.0
2022-11-30         0.0  2816.738983      0.000000 -1.925515e+04     0.0
2022-12-31         0.0  2828.475395      0.000000 -2.208362e+04     0.0
2023-01-31         0.0  2840.260709      0.000000 -2.492388e+04     0.0
2023-02-28         0.0  2852.095129      0.000000 -2.777598e+04     0.0
2023-03-31         0.0  2863.978859      0.000000 -3.063996e+04     0.0
2023-04-30         0.0  2875.912104      0.000000 -3.351587e+04     0.0
2023-05-31         0.0   256.316124      0.000000 -3.377219e+04     0.0
2023-06-30         0.0   257.384108  34029.569944 -2.273737e-12     0.0
2023-07-31         0.0     0.000000      0.000000  0.000000e+00     0.0
2023-08-31         0.0     0.000000      0.000000  0.000000e+00     0.0

                tra.IR     trb.ntnl                        trb.fee  \
               amt_add      amt_sub  amt_add       bal_end amt_add
2021-08-31    0.000000     0.000000      0.0      0.000000     0.0
2021-09-30    0.000000     0.000000      0.0      0.000000     0.0
2021-10-31    0.000000  3631.578947      0.0  -3631.578947   600.0
2021-11-30    0.000000  2652.763158      0.0  -6284.342105     0.0
2021-12-31    0.000000  2668.237610      0.0  -8952.579715     0.0
2022-01-31    0.000000  2683.802329      0.0 -11636.382044     0.0
2022-02-28    0.000000  2699.457843      0.0 -14335.839887     0.0
2022-03-31    0.000000  2715.204680      0.0 -17051.044567     0.0
2022-04-30    0.000000  2731.043374      0.0 -19782.087941     0.0
2022-05-31    0.000000   217.912059      0.0 -20000.000000     0.0
2022-06-30   10.537760     0.000000      0.0 -20000.000000     0.0
2022-07-31   22.032691     0.000000      0.0 -20000.000000     0.0
2022-08-31   33.575517     0.000000      0.0 -20000.000000     0.0
2022-09-30   45.166438     0.000000      0.0 -20000.000000     0.0
2022-10-31   56.805655     0.000000      0.0 -20000.000000     0.0
2022-11-30   68.493369     0.000000      0.0 -20000.000000     0.0
2022-12-31   80.229781     0.000000      0.0 -20000.000000     0.0
2023-01-31   92.015095     0.000000      0.0 -20000.000000     0.0
2023-02-28  103.849515     0.000000      0.0 -20000.000000     0.0
2023-03-31  115.733245     0.000000      0.0 -20000.000000     0.0
2023-04-30  127.666490     0.000000      0.0 -20000.000000     0.0
2023-05-31  139.649457     0.000000      0.0 -20000.000000     0.0
2023-06-30  140.717441     0.000000  20000.0      0.000000     0.0
2023-07-31    0.000000     0.000000      0.0      0.000000     0.0
2023-08-31    0.000000     0.000000      0.0      0.000000     0.0

                trb.IR cost_lnd   cost_cstrn         oprtg                \
               amt_add  amt_add      amt_add       amt_add       amt_sub
2021-08-31    0.000000      0.0     0.000000  10000.000000      0.000000
2021-09-30    0.000000      0.0     0.000000      0.000000      0.000000
2021-10-31    0.000000  10000.0  2631.578947   3631.578947  13631.578947
2021-11-30   21.184211      0.0  2631.578947   2652.763158   2652.763158
2021-12-31   36.658662      0.0  2631.578947   2668.237610   2668.237610
2022-01-31   52.223382      0.0  2631.578947   2683.802329   2683.802329
2022-02-28   67.878895      0.0  2631.578947   2699.457843   2699.457843
2022-03-31   83.625733      0.0  2631.578947   2715.204680   2715.204680
2022-04-30   99.464427      0.0  2631.578947   2731.043374   2731.043374
2022-05-31  115.395513      0.0  2631.578947   2746.974460   2746.974460
2022-06-30  116.666667      0.0  2631.578947   2758.783374   2758.783374
2022-07-31  116.666667      0.0  2631.578947   2770.278305   2770.278305
2022-08-31  116.666667      0.0  2631.578947   2781.821131   2781.821131
2022-09-30  116.666667      0.0  2631.578947   2793.412052   2793.412052
2022-10-31  116.666667      0.0  2631.578947   2805.051269   2805.051269
2022-11-30  116.666667      0.0  2631.578947   2816.738983   2816.738983
2022-12-31  116.666667      0.0  2631.578947   2828.475395   2828.475395
2023-01-31  116.666667      0.0  2631.578947   2840.260709   2840.260709
2023-02-28  116.666667      0.0  2631.578947   2852.095129   2852.095129
2023-03-31  116.666667      0.0  2631.578947   2863.978859   2863.978859
2023-04-30  116.666667      0.0  2631.578947   2875.912104   2875.912104
2023-05-31  116.666667      0.0     0.000000    256.316124    256.316124
2023-06-30  116.666667      0.0     0.000000    257.384108  54286.954051
2023-07-31    0.000000      0.0     0.000000      0.000000      0.000000
2023-08-31    0.000000      0.0     0.000000      0.000000      0.000000


                 bal_end
2021-08-31  10000.000000
2021-09-30  10000.000000
2021-10-31      0.000000
2021-11-30      0.000000
2021-12-31      0.000000
2022-01-31      0.000000
2022-02-28      0.000000
2022-03-31      0.000000
2022-04-30      0.000000
2022-05-31      0.000000
2022-06-30      0.000000
2022-07-31      0.000000
2022-08-31      0.000000
2022-09-30      0.000000
2022-10-31      0.000000
2022-11-30      0.000000
2022-12-31      0.000000
2023-01-31      0.000000
2023-02-28      0.000000
2023-03-31      0.000000
2023-04-30      0.000000
2023-05-31      0.000000
2023-06-30 -54029.569944
2023-07-31 -54029.569944
2023-08-31 -54029.569944